:root{
    --soft-black: #2B2D42;
    --gray: #8D99AE;
    --soft-white: #EDF2F4;
    --soft-red: #EF233C;
    --hard-red: #D90429;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    height: 100px;
    background: var(--soft-red);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--soft-white);
}
.nav-bar{
    display: none;
}

.main{
    background-color: var(--soft-white);

}
.main .container{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
.main .container .problem {
    height: auto;
    width: 75vw;
    min-width: 270px;
    max-width: 400px;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: var(--gray);
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.main .container .problem:hover {
    outline: 2px #0791e6 solid;
}
.main .container .problem:nth-of-type(1){
    margin-top: 20px;
}
.main .container .problem p {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: var(--soft-black);
}
.main .container .problem h2{
    font-size: 1.8rem;
    line-height: 2rem;
    font-family: 'Lato', sans-serif;
    color: var(--soft-white);
    text-align: center;
}
.main .container .problem button {
    width: 165px;
    height: 53px;
    margin-top: 30px;
    padding: 15px;
    align-self: center;

    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--soft-red);
    color: var(--soft-white);

    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 700;
}
.main .container .problem button:hover{
    box-shadow: 1px 1px 3px black;
}
.footer{
    height: 75px;
    background-color: var(--soft-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__list{
    list-style: none;
}
.footer__list li{
    display: inline-block;
    margin: 20px;
}
.footer__list li a{
    text-decoration: none;
    color: var(--soft-white);
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: 'Lato', sans-serif;
}
.footer__list li a:hover{
    text-decoration: underline;
}
