header{
    display: flex;
    justify-content: space-between;
}
header h1{
    margin-left: 80px;
}
.nav-bar{
    display: flex;
    margin-right: 40px;
}
.nav-bar__list {
    list-style: none;
    display: flex;
}
.nav-bar__list li{
    margin: 0 20px;
}
.nav-bar__list li a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    line-height: 2rem;
    color: white;
}
.nav-bar__list li a:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .container{
    grid-template-columns: 1fr 1fr;
    width: 80%;
    max-width: 1000px;
}
.main .container .problem {
    width: 270px;
}
.main .container .problem:nth-of-type(2){
    margin-top: 20px;
}
.footer__list li a{
    font-size: 1.6rem;
    line-height: 1.8rem;
}